@import "../../../css/stylesheet.css";

#stepList {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    position: relative;
}

/* Container per stap */
#stepList li {
    text-align: center;
    flex: 1;
    position: relative;
    
}

/* Bolletje */
.step-circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: var(--ds-color-fg-default, rgb(64, 64, 64));
    background-color: var(--ds-color-bg-default, rgb(255, 255, 255));
    font-weight: 600;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    position: relative;
    z-index: 2;
        border: var(--ds-spacer-border, 1px) solid var(--ds-color-border-default, rgb(137, 137, 137));
    border-radius: var(--ds-spacer-radius-rounded, 9999px);
    
}

.step-label {
    margin-top: 0.5rem;
    font-weight: 500;
    color: var(--ds-color-fg-default);
}

.step-desc {
    color: var(--ds-color-fg-default);
    opacity: 0.6;
    font-size: 0.8rem;
    margin-top: 0.25rem;
}

/* ACTIVE */
#stepList li.active .step-circle {
    background-color: var(--ds-color-bg-primary-mid, rgb(12, 121, 154));
    color: var(--ds-color-fg-primary-subtle, rgb(236, 249, 252));
    border-color: var(--ds-color-border-primary-default, rgb(12, 121, 154));
}

#stepList li.active .step-label {
    color: var(--ds-color-bg-primary-mid);
}

#stepList li.active::after {
    background: var(--ds-color-bg-primary-mild);
}

#stepList li.active .step-circle[aria-disabled="false"]:hover {
    box-shadow: 0 0 0 var(--ds-interactive-focus-ring-width, 4px) var(--ds-color-bg-primary-soft);
    border-color: var(--ds-color-border-primary-emphasis);
    cursor: pointer;
}

#stepList li.active .step-circle[aria-disabled="false"]:active {
    background-color: var(--ds-color-bg-primary-emphasis, rgb(4, 70, 90));
    color: var(--ds-color-fg-primary-subtle, rgb(236, 249, 252));
    border-color: var(--ds-color-border-primary-emphasis, rgb(4, 70, 90));
}

/* COMPLETED */
#stepList li.completed .step-circle {
    background-color: var(--ds-color-bg-success-mid, rgb(18, 126, 97));
    color: var(--ds-color-fg-success-subtle, rgb(239, 249, 242));
    border-color: var(--ds-color-border-success-default, rgb(18, 126, 97));
}

#stepList li.completed .step-label {
    color: var(--ds-color-bg-success-mid);
}

#stepList li.completed::after {
    background: var(--ds-color-bg-success-mid);
}

#stepList li.completed .step-circle[aria-disabled="false"]:hover {
    box-shadow: 0 0 0 var(--ds-interactive-focus-ring-width, 4px) var(--ds-color-bg-success-soft);
    border-color: var(--ds-color-bg-success-mid);
    cursor: pointer;
}

#stepList li.completed .step-circle[aria-disabled="false"]:active {
    background-color: var(--ds-color-bg-success-emphasis, rgb(6, 73, 55));
    color: var(--ds-color-fg-success-subtle, rgb(239, 249, 242));
    border-color: var(--ds-color-border-success-emphasis, rgb(6, 73, 55));
}

/* INACTIVE */
#stepList li.inactive::after {
    background: var(--ds-color-bg-primary-mild);
}

#stepList li.inactive .step-circle[aria-disabled="false"]:hover {
    box-shadow: 0 0 0 var(--ds-interactive-focus-ring-width, 4px) var(--ds-color-bg-primary-soft, rgb(174, 226, 238));
    border-color: var(--ds-color-border-primary-emphasis, rgb(4, 70, 90));
    cursor: pointer;
}

#stepList li.inactive .step-circle[aria-disabled="false"]:active {
    background-color: var(--ds-color-bg-primary-default, rgb(236, 249, 252));
    color: var(--ds-color-fg-primary-emphasis, rgb(4, 70, 90));
    border-color: var(--ds-color-border-primary-emphasis, rgb(4, 70, 90));
}

/* INVALID STEP */
#stepList li.invalid .step-circle {
    background: var(--ds-color-bg-danger-mid, #FF4D4F); /* rood */
    color: white;
    border: 2px solid var(--ds-color-bg-danger-dark, #B71C1C);
}

#stepList li.invalid .step-label {
    color: var(--ds-color-bg-danger-mid, #FF4D4F);
}


.step-line {
    position: absolute;
    top: 22px;        /* midden van 40px bol = 20px + 2px lijn offset */
    left: 50%;        /* begin bij het midden van de bol */
    height: calc(var(--ds-spacer-1x, 4px) / 2);
    width: 100%;
    /*background: var(--ds-color-bg-primary-mild);*/
    background: rgb(137, 137, 137);
    z-index: 1;
    transition: width 0.45s ease, background 0.45s ease;
    
}

#stepList li:last-child .step-line {
    display: none; /* geen lijn na laatste bol */
}

/* Scroll-container neemt alle ruimte behalve footer */
.scroll-container {
flex: 1 1 auto;          /* neemt beschikbare ruimte */
display: flex;
flex-direction: column;
overflow-y: auto;        /* scrollen indien nodig */
padding: 25px;
}

/* Footer krijgt vaste ruimte onderaan */
.footer {
flex: 0 0 auto;          /* vaste hoogte, niet meeschalen */
display: flex;
justify-content: space-between;
padding: 25px;
}

/* Summarize */
.summarize_block_error,
.summarize_block_success,
.summarize_block {
    flex: 1 1 120px;
    padding: 12px 20px;
    text-align: center;
    min-width: 15;
}

.summarize_block {
    color: var(--ds-color-fg-default);
    border: var(--ds-spacer-border) solid var(--ds-color-border-muted);
    border-radius: var(--_ds-input-border-radius, calc(var(--ds-spacer-1x) * 2));
    background-color: var(--ds-color-bg-default);
}

.summarize_block:hover {
    box-shadow: 0 0 0 var(--ds-interactive-focus-ring-width) var(--ds-color-bg-primary-soft);
}

.summarize_block_success {
    color: var(--ds-color-fg-success-emphasis);
    border: var(--ds-spacer-border) solid var(--ds-color-border-success-default);
    background-color: var(--ds-color-bg-success-default);
    border-radius: var(--_ds-input-border-radius, calc(var(--ds-spacer-1x) * 2));
}


.summarize_block_success:hover {
    box-shadow: 0 0 0 var(--ds-interactive-focus-ring-width) var(--ds-color-bg-success-soft);
}

.summarize_block_error {
    color: var(--ds-color-border-danger-default);
    border: var(--ds-spacer-border) solid var(--ds-color-border-danger-default);
    background-color: var(--ds-color-bg-danger-default);
    border-radius: var(--_ds-input-border-radius, calc(var(--ds-spacer-1x) * 2));
}

.summarize_block_error:hover {
    box-shadow: 0 0 0 var(--ds-interactive-focus-ring-width) var(--ds-color-fg-danger-soft);
}

/* Progressbar */
.progressBar {
    background-color: var(--ds-color-bg-primary-mild);
    height: 10px;
    border-radius: 5px;
    display: flex;
    overflow: hidden;
    /* zorgt dat afgeronde hoeken niet worden overschreden */
}

.currentProgress {
    background-color: var(--ds-color-fg-primary-default);
    width: 0%;
    transition: width 0.3s ease;
    /* optionele animatie */
}

.currentProgress,
.progressBar {
    flex: 0 0 auto;
    border-radius: 5px;
}

.progressString {
    flex: 0 0 auto;
    font-style: italic;
    margin-top: 5px;
    margin-bottom: 20px;
}


.row-mismatch {
    background-color: var(--ds-color-bg-danger-default);
}

.loading-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--ds-color-bg-default) !important;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99999;
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--ds-color-fg-default) !important;
}

.compact-view-toolbar {
    display: flex;
    align-items: center;
    gap: 5px;
}

.selected-rows {
    font-size: var(--ds-text-title-4-font-size);
    font-weight: 600;
    line-height: 1.5;
    font-family: var(--ds-text-family-primary), Roboto, Helvetica, sans-serif;
    margin-bottom: calc(var(--ds-spacer-1x) * 2);
    display: flex;
    align-items: center;
    height: 100%;
    /* Zorg ervoor dat de parent container een vaste hoogte heeft */
    padding-right: 8px;

}

.Spinner {
  width: 16px;
  height: 16px;
  border: 2px solid var(--ds-color-fg-primary-default);
  border-top: 2px solid var(--ds-color-bg-primary-mild);    
  border-radius: 50%;
  animation: spin 0.6s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.SegmentedBar {
  display: flex;
  gap: 5px; /* als je gap meegeeft via props, kun je dit eventueel weghalen */
  border-radius: 5px;
  overflow: visible; /* laat onderliggende titels zien */
  margin-bottom: 10px;
  width: 100%;
}

.SegmentWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.Segment {
  width: 100%;
  height: 10px;
  transition: background-color 0.3s ease, opacity 0.3s ease;
  border-radius: 5px;
}

.SegmentLabel {
  margin-top: 6px;
  text-align: center;
  color: var(--ds-color-fg-default) !important;
  cursor: pointer;
  font-size: var(--ds-text-title-4-font-size) !important;
  font-weight: 600;
  line-height: 1.5;
  font-family: var(--ds-text-family-primary);
}

.SegmentIcon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 20px;
}
